.source-sans-regular {
    font-family: 'Source Sans Pro Regular', Arial, sans-serif;
}

.source-sans-light {
    font-family: 'Source Sans Pro Light', Arial, sans-serif;
}

.source-sans-bold {
    font-family: 'Source Sans Pro Bold', Arial, sans-serif;
}

.source-sans-semibold {
    font-family: 'Source Sans Pro Semibold', Arial, sans-serif;
}

.source-sans-italic {
    font-family: 'Source Sans Pro Italic', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro Light', Arial, sans-serif;
}

html {
    height: 100%;
}

body, #root, #root > div {
    height: inherit;
}

a{
    text-decoration: none;
}

.main-wrapper {
    height: calc(100% - 50px);
    padding: 50px 5% 0 5%;
    text-align: center;
}

.content-wrapper {
    margin: 50px auto 0 auto;
    background: rgba(230, 229, 229, 0.5);
    padding: 30px;
    animation: fadein 0.5s;
}

.background {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(http://topnewsfromworld.ml/gallery_gen/1f69524378190c17607ea96d27bfd04a_7325x4120.jpg) no-repeat center;
    background-size: cover;
}

.icon-button {
    opacity: 0.5;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    transition: all .10s ease;
    background: gray;
    font-size: 16px;
    padding: 10px;
}

.icon-button.vk {
    background: #507299;
}

.icon-button:hover {
    opacity: 1;
    cursor: pointer;
}

.icon-button.active {
    opacity: 1;
}

.icon-button i {
    margin-right: 5px;
}

.icon {
    margin-right: 5px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



