
.image-round {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.main-wrapper {
    width: 80%;
    margin: 50px auto auto auto;
}

.icon-button{
    opacity: 0.5;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    transition: all .10s ease;
    width: 80%;
    margin-bottom: 5px;
    background: gray;
}

.icon-button.vk {
    background: #507299;
}

.icon-button:hover {
    opacity: 1;
    cursor: pointer;
}

.icon-button.active {
    opacity: 1;
}

.icon-button i {
    margin-right: 5px;
}

