* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body, #root, #root > div {
    height: inherit;
}

.image-round {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.main-wrapper {
    height: calc(100% - 50px);
    padding: 50px 5% 0 5%;
    text-align: center;
}

.background {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(http://topnewsfromworld.ml/gallery_gen/1f69524378190c17607ea96d27bfd04a_7325x4120.jpg) no-repeat center;
    background-size: cover;
}

.icon-button {
    opacity: 0.5;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    transition: all .10s ease;
    background: gray;
}

.icon-button.vk {
    background: #507299;
}

.icon-button:hover {
    opacity: 1;
    cursor: pointer;
}

.icon-button.active {
    opacity: 1;
}

.icon-button i {
    margin-right: 5px;
}

