* {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.sh-form input, button{
    font-size: 16px;
    margin: 5px;
}

.image-round {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
}